*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'SpaceInvadersFont';
  src: url(./fonts/upheavtt.ttf) format('truetype');
}

body {
  font-family: '黑體', Arial, Helvetica, sans-serif;
  /* background-color: #c7edcc; 護眼綠 */
  background-color: #000;
  letter-spacing: 1px;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.title {
  margin-bottom: 1rem;
  color: rgb(255, 0, 128);
}
.game-list {
  list-style: none;
}
.game-list > li {
  margin-bottom: 1rem;
}
.link {
  display: block;
  width: 10rem;
  padding: 0.5rem 0;
  /* border: 2px solid #ccf; */
  border-radius: 0.25rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: rgb(0, 64, 255);
}
.link:hover {
  background-color: rgb(0, 128, 255);
}
