*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'SpaceInvadersFont';
  src: url(./fonts/upheavtt.ttf) format('truetype');
}

body {
  background-color: #c7edcc; /* 護眼綠 */
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
}
